@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Coustard';
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #7798AB;
    overflow-y: hidden;
}

#clickerImage{
    width: 256px;
    height: 256px;
    transition: .15s ease-in;
}

.left-container{
    width: 30%;
    border: 5px solid black;
    background-image: url(./imgs/background-panel3.png);
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #7798AB;*/
}

.clicker-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    height: 600px;
}

.click-container{
    background-image: url("./imgs/Bitcoin-Logo.png");
    box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: contain;
    width: 300px;
    height: 50%;
    border: 5px solid black;
    border-radius: 50%;
    transition: .1s ease-in;
    position: relative;
}

.click-container > .number{
    z-index: 99;
    font-size: 24px;
    color: black;
    position: absolute;
}

.click-container:hover{
    transform: scale(1.03);
}


.click-container:active{
    transform: scale(1);
}


#clickerImage:hover{
    transform: scale(1.1);
}

#clickerImage:active{
   transform: scale(1);
}

.score-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-container{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    width: 40%;
    border-left: none;
}

.info-container{
    border-bottom: 5px solid black;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7798AB;
    background-image: url(./imgs/background-panel3.png);
}

.info-button-container{
    display: flex;
    flex-direction: row;
}

.buildings-containers{ 
    background-color: #141e20;
    height: 85%;
    overflow-y: scroll;
}

.info-button{
    width: 100%;
    height: 100%;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    background-color: #141e20;
    color: white;
    margin: 0 10px;
    transition: .2s ease-in;
}

.info-button:hover{
    transform: scale(0.9);
}

.info-button:active{
    transform: rotateY(15deg);
}

.right-container{
    width: 30%;
    border: 5px solid black;
    border-left: none;
    overflow-y: scroll;
    background-image: url(./imgs/background-panel3.png);
}

.upgrades-container{
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    border: 5px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    background-image: url(./imgs/background-panel3.png);
    align-items: center;
    overflow-y: scroll;
}

.upgrade-img{
    width: 18%;
    height: 75%;
    border: 5px solid black;
    border-radius: 10px;
    transition: .1s ease-in;
}

.upgrade-img:hover{border-color: #141e20; transform: rotate(5deg);}

.shop-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./imgs/background-panel3.png);
}

.shop-card{
    width: 95%;
    height: 13%;
    display: flex;
    justify-content: space-evenly;
    background: rgb(250,250,250);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(119,120,120,1) 100%);
    align-items: center;
    margin: 2px 0;
    border-radius: 10px;
    color: black;
    transition: .2s ease-in;
    border: 5px solid grey;
    opacity: 1;
    flex: none;
}

.shop-card:hover{
    transform: scale(1.01);
}

.shop-card img{
    width: 20%;
    height: 90%;
    border-radius: 10px;
}

.shop-info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 60%;
}

.building-display-container{
    visibility: hidden;
    border: 5px solid black;
    height: 20%;
    margin: 5px;
    border-radius: 10px;
    background-color: #7798AB;
    position: relative;
    overflow-x: scroll;

}

.building-display-img {
    width: 12.5%;
    height: 70%;
    position: absolute;
    border: 3.5px solid grey;
    border-radius: 10px;
}

.stats-container{
    position: absolute;
    width: 22%;
    height: 40%;
    background-color: #7798AB;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid black;
    border-radius: 10px;
    top: 17%;
    left: 38%;
    visibility: hidden;
    transition: .2s ease-in;
    z-index: 99;
}

.about-container{
    position: absolute;
    width: 22%;
    height: 40%;
    background-color: #7798AB;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 10px;
    top: 17%;
    left: 38%;
    visibility: hidden;
    transition: .2s ease-in;
    z-index: 99;
}

.achievement-container{
    position: absolute;
    z-index: 99;
    width: 20%;
    height: 10%;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.achievement-card{
    width: 100%;
    height: 80%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 2.5px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    background-color: #141e20;
    color: white;
}

.achievement-card img{
    size: 50%;
}

.button-info-container{
    display: flex;
    width: 100%;
    height: 30%;
}

#moneyName{
    font-size: 0.5rem
}

#buildingName{
    font-size: 0.5rem;
}

